@import "login.css";

.card{
    background-color: #fffafa;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
     overflow: hidden;
}
h3{
  font-size: 1.4rem;
  font-weight: 800;
  color:#fcfcfc;
}
span {
  font-size: 16px;
}
.table{
  text-align: center;
}

.but{
  border-radius: 20px;
  border: 1px solid #f07585;
  background-color: #FFFFFF;
  color: #f07585;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.but:hover{
  background-color: #f07585;
  color: #fdeff1;
}