@import "login.css";

.card{
    background-color: #fffafa7a;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
     overflow: hidden;
}
h3{
  font-size: 1.4rem;
  font-weight: 800;
  color:#ffffff;
}
span {
  font-size: 16px;
}
.table{
  text-align: center;
}

.but{
  border-radius: 20px;
  border: 1px solid #FFFFFF;
  background-color: #f07585;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.but:hover{
  background-color: #FFFFFF;
  color: #f07585;
}

  .container {
    position: absolute;
    right:2.5%;
  
    text-align: center;
    background-color: #fcfcfc00;
    box-shadow: none;

    border-radius: 10px;
    width: 72%;
    max-width: 100%;
  }


  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 20%;
    left:2.5%
  }



