@import "login.css";

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ffc4c4;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.card{
    background-color: #fffafa7a;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
     overflow: hidden;
}
h3{
  font-size: 1.4rem;
  font-weight: bold;
  color:#000000;
}
h2{
    text-align: left;
}
span {
  font-size: 16px;
}
.table{
  text-align: center;
}
input{
    width: 50%;
}
.but{
  border-radius: 20px;
  border: 1px solid #FFFFFF;
  background-color: #f07585;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.but:hover{
  background-color: #FFFFFF;
  color: #f07585;
}

.field{
    border-radius: 10px;
    padding: 12px 15px;
    width: 50%;
    border: 1px solid #FFFFFF;
    background-color: #f1b6be;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }






